*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  color: #1c0e0d;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden; }

.header {
  overflow-x: hidden;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 30rem;
  overflow-y: hidden; }
  .header::after {
    content: "";
    background-image: url(../img/Elements.png);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 9rem;
    left: 12rem;
    background-position: top;
    z-index: -99;
    background-repeat: no-repeat; }
  .header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/Base.png);
    z-index: -100;
    background-repeat: repeat; }
  .header__text {
    font-family: "Inter", sans-serif;
    color: #40201e;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 6.8rem; }
  .header__btn:link, .header__btn:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2.4rem 4rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 2; }
  .header-container {
    max-width: 70rem;
    margin: 0 auto;
    position: relative; }
  .header__phone-pic {
    position: absolute; }
    .header__phone-pic--1 {
      top: -14rem;
      left: -57rem; }
    .header__phone-pic--2 {
      top: -16rem;
      right: -61rem; }
    .header__phone-pic--3 {
      top: -29.2rem;
      left: -23.3rem; }
    .header__phone-pic--4 {
      top: 4rem;
      right: -11rem; }

.btn-container {
  text-align: center; }

.nav {
  display: grid;
  grid-template-columns: 375fr 178.57fr 211.43fr 421fr 141fr auto 375fr;
  align-items: center;
  margin-bottom: 22rem;
  font-size: 1.8rem;
  font-weight: 400; }
  .nav__logo {
    height: 4rem;
    flex: 55.3rem;
    grid-column: 2/3; }
  .nav__list {
    display: flex;
    list-style: none;
    gap: 4.8rem;
    justify-content: center;
    grid-column: 4/5; }
    .nav__list-item:link, .nav__list-item:visited {
      text-decoration: none;
      color: inherit; }
  .nav__login {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    grid-column: 6/7; }
    .nav__login-item:link, .nav__login-item:visited {
      text-decoration: none; }
    .nav__login-item--log {
      color: #ff553e; }

.heading-primary {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
  position: relative; }

.navigation {
  display: none; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#ff553e, #ff7765);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #ff553e;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #ff553e;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.section-features {
  background-image: url(../img/Vector.png);
  background-size: cover;
  background-position: top;
  z-index: 3;
  margin-top: -11.8rem;
  position: relative;
  margin-bottom: 14.7rem; }
  .section-features::after {
    content: "";
    background-image: url(../img/Base1.png);
    position: absolute;
    display: block;
    min-height: 50%;
    max-height: 100%;
    width: 100%;
    top: 25rem;
    left: 0;
    background-size: cover;
    background-position: top;
    z-index: -99;
    background-repeat: no-repeat; }

.features-stats {
  display: grid;
  grid-template-columns: 455fr 109fr 202fr 88fr 217fr 77fr 760fr;
  padding-top: 9.4rem;
  background-color: transparent; }

.stats__box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .stats__box--1 {
    grid-column: 2/3; }
  .stats__box--2 {
    grid-column: 4/5; }
  .stats__box--3 {
    grid-column: 6/7; }

.stats__text {
  font-size: 4.8rem;
  line-height: 6.8rem;
  font-weight: 600; }

.stats__label {
  font-family: "Inter", sans-serif;
  color: #404040;
  font-size: 1.8rem;
  font-weight: 400;
  opacity: 0.6;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 22.3rem; }

.heading-container {
  display: flex;
  position: relative; }
  .heading-container--center {
    display: flex;
    position: relative;
    justify-content: center; }

.features__text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: center;
  color: #404040;
  opacity: 0.8;
  margin-bottom: 6.4rem; }

.features__container {
  display: flex;
  justify-content: center;
  gap: 3.2rem; }

.feature {
  border-radius: 4.8rem;
  padding: 3rem; }
  .feature--1 {
    background-color: #70d0dc; }
  .feature--2 {
    background-color: #7562e0; }
  .feature--3 {
    background-color: #fa865f; }
  .feature__icon-container {
    position: relative;
    display: inline-block;
    margin: 2.4rem 26rem 4.4rem 2.4rem; }
    .feature__icon-container::before {
      content: "";
      position: absolute;
      top: -40%;
      left: -45%;
      height: 180%;
      width: 200%;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid white;
      z-index: 1;
      display: inline-block; }
  .feature__icon {
    z-index: 2;
    position: relative; }
  .feature__heading {
    font-size: 2.8rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem; }
  .feature__text {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    opacity: 0.8;
    color: #fff; }

.section-analytics {
  display: flex;
  gap: 3.38rem;
  margin-bottom: 14rem;
  align-items: center; }

.analytics__info {
  padding-right: 5rem;
  flex: 1 0 auto; }

.analytics__image {
  max-width: 100%;
  flex: 0 1; }

.analytics__text, .analytics__function-text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.analytics__function {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 2.4rem;
  margin-bottom: 4.8rem; }

.analytics__icon-container {
  grid-row: 1 / -1;
  align-self: center;
  height: 8.8rem;
  width: 8.8rem;
  border-radius: 2rem;
  position: relative; }
  .analytics__icon-container--1 {
    background-color: #fa865f; }
  .analytics__icon-container--2 {
    background-color: #7ad6e1; }
  .analytics__icon-container--3 {
    background-color: #ffc954; }

.analytics__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-tracker {
  background-color: #f3fdfe;
  padding: 14rem 3rem;
  position: relative;
  display: grid;
  grid-template-columns: 375fr 710fr 28fr 683fr 127fr;
  align-items: center; }
  .section-tracker::before {
    content: "";
    background-image: url(../img/Objects1.svg);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; }

.tracker__text-container {
  z-index: 2;
  grid-column: 2/3; }

.tracker__functions {
  margin-left: 5rem; }

.tracker__text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.tracker__image-container {
  display: flex;
  grid-column: 4/5; }

.tracker__image {
  position: relative;
  z-index: 2;
  max-width: 130%; }

.tracker__text, .tracker__function-text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.tracker__function {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 2.4rem;
  margin-bottom: 8rem; }

.tracker__icon-container {
  grid-row: 1 / -1;
  align-self: center;
  height: 11.6rem;
  width: 11.6rem;
  border-radius: 2rem;
  position: relative; }
  .tracker__icon-container--1 {
    background-color: #fa865f; }
  .tracker__icon-container--2 {
    background-color: #7ad6e1; }
  .tracker__icon-container--3 {
    background-color: #ffc954; }

.tracker__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-pricing {
  padding-top: 14rem;
  padding-bottom: 16rem;
  position: relative; }
  .section-pricing::before {
    content: "";
    background-image: url(/img/Iamge.svg);
    position: absolute;
    display: block;
    max-width: 100%;
    width: 173.7rem;
    height: 75rem;
    top: 32rem;
    left: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1; }

.pricing__text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.pricing__plans {
  display: flex;
  justify-content: center;
  gap: 3rem; }

.pricing__plan {
  padding: 6.4rem 11.5rem 4.8rem 11.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ff553e;
  border-radius: 11rem; }
  .pricing__plan--2 {
    background-color: #ff553e; }
    .pricing__plan--2 h3,
    .pricing__plan--2 .pricing__seat-count,
    .pricing__plan--2 .pricing__project-count,
    .pricing__plan--2 .pricing__price,
    .pricing__plan--2 .pricing__price span {
      color: #fff; }

.pricing__plan-heading {
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-weight: 600; }

.pricing__seat-count, .pricing__project-count {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  color: #ff553e;
  opacity: 0.8; }
  .pricing__seat-count--1, .pricing__project-count--1 {
    color: #ff553e; }

.pricing__price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #6c6c6c; }
  .pricing__price span {
    font-weight: 700;
    font-size: 6.4rem;
    color: #1c0e0d; }

.section-partners {
  padding: 12rem 7.6rem 8rem 7.6rem;
  background-color: #f8fefe;
  display: flex;
  gap: 10rem; }

.partners__text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.partners__image {
  max-width: 130%; }

.section-reviews {
  padding-top: 17.3rem;
  padding-bottom: 14rem;
  position: relative; }
  .section-reviews::before {
    content: "";
    background-image: url(/img/Images.svg);
    position: absolute;
    display: block;
    max-width: 100%;
    width: 172.4rem;
    height: 73.3rem;
    top: 3.8rem;
    left: 5.6rem;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -3; }

.reviews__text {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.review__container {
  display: flex;
  justify-content: center;
  gap: 4.8rem; }

.review__figure {
  height: 37.9rem;
  width: 29.8rem;
  background-color: #fff8f2;
  border-radius: 37rem; }

.review__text-box {
  align-self: center; }

.review__text, .review__job {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8;
  opacity: 0.8; }

.review__name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.4rem; }

.review__circles {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 4; }

.review__circle {
  height: 18px;
  border-radius: 10rem;
  width: 18px;
  background-color: #ff553e33; }
  .review__circle--big {
    width: 42px;
    background-color: #ff553e; }

.section-get {
  background-color: #fff8f2;
  padding: 17.3rem 3rem 0 3rem;
  position: relative;
  display: flex;
  gap: 11rem;
  justify-content: center;
  overflow-y: hidden; }
  .section-get::before {
    content: "";
    background-image: url(../img/Images1.svg);
    position: absolute;
    display: block;
    height: 190%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; }

.get__text-container {
  align-self: center; }

.get__text {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #404040;
  opacity: 0.8; }

.get__icon {
  fill: #fff;
  width: 3.2rem;
  height: 3.2rem; }
  .get__icon--google {
    fill: #ff553e; }

.get__btn-container {
  display: flex;
  gap: 2rem; }

.get__btn {
  display: flex !important;
  max-width: max-content;
  align-items: center;
  gap: 6px;
  flex: 0 0 max-content; }

.get__btn-text {
  line-height: 1.2;
  font-size: 1.4rem; }
  .get__btn-text span {
    font-size: 2.8rem; }

.get__image {
  max-width: 100%;
  z-index: 3;
  position: relative;
  max-width: 100%;
  flex: 0 1; }

.footer {
  padding-top: 13rem;
  text-align: center; }
  .footer__nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 5.5rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgba(64, 64, 64, 0.2); }
  .footer__logo {
    height: 4rem; }
  .footer__list {
    display: flex;
    list-style: none;
    gap: 5rem;
    justify-content: center;
    align-items: center; }
    .footer__list-item:link, .footer__list-item:visited {
      text-decoration: none;
      color: inherit; }
  .footer__socials {
    display: flex;
    gap: 4.5rem; }
  .footer__rights {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    margin-bottom: 6rem; }

.btn {
  background-color: #ff553e;
  color: #fff;
  border-radius: 100rem; }
  .btn--small {
    padding: 1.6rem 3.2rem; }
  .btn--big {
    padding: 2.4rem 4rem; }
  .btn--white {
    background-color: #fff;
    color: #ff553e; }
  .btn--transparent {
    background-color: transparent;
    color: #ff553e;
    border: 1px solid #ff553e; }

.pricing__month-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem; }
  .pricing__month-toggle input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden; }
  .pricing__month-toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 12rem;
    height: 6rem;
    background: rgba(255, 85, 62, 0.4);
    display: block;
    border-radius: 100px;
    position: relative; }
  .pricing__month-toggle label:after {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s; }
  .pricing__month-toggle input:checked + label {
    background: rgba(255, 85, 62, 0.9); }
  .pricing__month-toggle input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%); }
  .pricing__month-toggle label:active:after {
    width: 5rem; }

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 7rem;
  position: relative;
  z-index: 2;
  flex-shrink: 0; }
  .heading-secondary span {
    z-index: 3;
    position: relative; }
  .heading-secondary__shape {
    height: 3.5rem;
    width: 17.6rem;
    position: absolute;
    z-index: -1; }
    .heading-secondary__shape--features {
      top: 38%;
      left: 50%; }
    .heading-secondary__shape--analytics {
      top: 50%;
      left: -10%; }
    .heading-secondary__shape--tracker {
      top: 50%;
      left: 0; }
    .heading-secondary__shape--pricing {
      top: 45%;
      left: -20%; }

.heading-tertiary {
  font-size: 2.8rem;
  font-weight: 600; }

.u-margin-bottom-16 {
  margin-bottom: 1.6rem; }

.u-margin-bottom-20 {
  margin-bottom: 2rem; }

.u-margin-bottom-24 {
  margin-bottom: 2.4rem; }

.u-margin-bottom-36 {
  margin-bottom: 3.6rem; }

.u-margin-bottom-48 {
  margin-bottom: 4.8rem; }

.u-margin-bottom-54 {
  margin-bottom: 5.4rem; }

.u-margin-bottom-64 {
  margin-bottom: 6.4rem; }

.u-margin-bottom-74 {
  margin-bottom: 7.4rem; }

.u-margin-left-50 {
  margin-left: 5rem; }

.u-margin-left-200 {
  margin-left: 20rem; }

.u-center-text {
  text-align: center; }

@media only screen and (max-width: 81em) {
  html {
    font-size: 45%; } }

@media only screen and (max-width: 60em) {
  html {
    font-size: 30%; }
  .header__phone-pic {
    position: absolute; }
    .header__phone-pic--1 {
      top: -14rem;
      left: -90rem; }
    .header__phone-pic--2 {
      top: -16rem;
      right: -91rem; }
    .header__phone-pic--3 {
      top: -29.2rem;
      left: -31.3rem; }
    .header__phone-pic--4 {
      top: 4rem;
      right: -21rem; } }

@media only screen and (max-width: 50em) {
  html {
    font-size: 55%; }
  .header__phone-pic--1 {
    display: none; }
  .header__phone-pic--2 {
    display: none; }
  .header__phone-pic--3 {
    top: -40.2rem;
    left: 63.3rem; }
  .header__phone-pic--4 {
    display: none; }
  .navigation {
    display: block; }
  .nav__list {
    display: none; }
  .nav__login {
    display: none; }
  .features-stats {
    display: flex;
    flex-direction: column; }
  .features__container {
    flex-direction: column;
    align-items: center; }
  .stats__label {
    margin-bottom: 6rem; }
  .section-analytics {
    flex-direction: column; }
  .section-tracker {
    display: flex;
    flex-direction: column; }
  .tracker__image {
    max-width: 100%; }
  .pricing__plans {
    flex-direction: column; }
  .pricing__plan {
    margin: 0 10rem; }
  .section-partners {
    flex-direction: column; }
  .partners__text-container {
    order: 1; }
  .partners__image-container {
    order: 2; }
  .partners__image {
    max-width: 100%; }
  .review__container {
    flex-direction: column; }
  .review__figure {
    align-self: center; }
  .section-get {
    padding-bottom: 10rem; }
  .get__image {
    display: none; }
  .footer {
    padding-top: 7rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  .footer__nav {
    flex-direction: column;
    align-items: start;
    gap: 3rem; }
  .footer__list {
    flex-direction: column;
    gap: 2rem; } }

@media only screen and (max-width: 45em) {
  html {
    font-size: 45%; }
  .header__phone-pic--3 {
    top: -43.2rem;
    left: 47.3rem; } }

@media only screen and (max-width: 37em) {
  html {
    font-size: 35%; }
  .footer__nav {
    gap: 10rem; } }

@media only screen and (max-width: 28em) {
  html {
    font-size: 30%; } }

@media only screen and (max-width: 24em) {
  html {
    font-size: 25%; }
  .feature__icon-container::before {
    display: none; } }

@media only screen and (max-width: 21em) {
  html {
    font-size: 20%; }
  .analytics__function {
    column-gap: 6rem; }
  .footer__nav {
    gap: 14rem; } }

@media only screen and (max-width: 17em) {
  html {
    font-size: 15%; } }

@media only screen and (min-width: 121em) {
  html {
    font-size: 80%; } }

@media only screen and (min-width: 152em) {
  html {
    font-size: 90%; } }

@media only screen and (min-width: 170em) {
  html {
    font-size: 110%; } }

@media only screen and (min-width: 207em) {
  html {
    font-size: 130%; } }
