.u-margin-bottom-16 {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-20 {
  margin-bottom: 2rem;
}

.u-margin-bottom-24 {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-36 {
  margin-bottom: 3.6rem;
}

.u-margin-bottom-48 {
  margin-bottom: 4.8rem;
}

.u-margin-bottom-54 {
  margin-bottom: 5.4rem;
}

.u-margin-bottom-64 {
  margin-bottom: 6.4rem;
}

.u-margin-bottom-74 {
  margin-bottom: 7.4rem;
}

.u-margin-left-50 {
  margin-left: 5rem;
}

.u-margin-left-200 {
  margin-left: 20rem;
}

.u-center-text {
  text-align: center;
}
