.header {
  overflow-x: hidden;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 30rem;
  overflow-y: hidden;

  &::after {
    content: "";
    background-image: url(../img/Elements.png);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 9rem;
    left: 12rem;
    background-position: top;
    z-index: -99;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/Base.png);
    z-index: -100;
    background-repeat: repeat;
  }

  &__text {
    font-family: "Inter", sans-serif;
    color: #40201e;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 6.8rem;
  }

  &__btn:link,
  &__btn:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2.4rem 4rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &-container {
    max-width: 70rem;
    margin: 0 auto;
    position: relative;
  }

  &__phone-pic {
    position: absolute;

    &--1 {
      top: -14rem;
      left: -57rem;
    }

    &--2 {
      top: -16rem;
      right: -61rem;
    }

    &--3 {
      top: -29.2rem;
      left: -23.3rem;
    }

    &--4 {
      top: 4rem;
      right: -11rem;
    }
  }
}

.btn-container {
  text-align: center;
}

.nav {
  display: grid;
  grid-template-columns: 375fr 178.57fr 211.43fr 421fr 141fr auto 375fr;
  align-items: center;
  margin-bottom: 22rem;

  font-size: 1.8rem;
  font-weight: 400;

  &__logo {
    height: 4rem;
    flex: 55.3rem;
    grid-column: 2/3;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 4.8rem;
    justify-content: center;
    grid-column: 4/5;

    &-item:link,
    &-item:visited {
      text-decoration: none;
      color: inherit;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    grid-column: 6/7;

    &-item {
      &:link,
      &:visited {
        text-decoration: none;
      }
      &--log {
        color: $orange-color;
      }
    }
  }
}

.heading-primary {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
  position: relative;

  // &::before {
  //   content: "";
  //   background-image: url(../img/CLIPBOARDVERIFIED.png);
  //   position: absolute;
  //   height: 108%;
  //   width: 20rem;
  //   top: 25rem;
  //   right: 69rem;
  //   background-position: top;
  //   background-repeat: no-repeat;
  //   z-index: -99;
  // }

  // &::after {
  //   content: "";
  //   background-image: url(../img/Alarm_Clock.png);
  //   position: absolute;
  //   height: 100%;
  //   width: 20rem;
  //   top: -9rem;
  //   left: 57rem;
  //   background-position: top;
  //   background-repeat: no-repeat;
  //   z-index: -99;
  // }
}

.navigation {
  display: none;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 6.5rem;
    background-image: radial-gradient($orange-color, #ff7765);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 7rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 2rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $orange-color;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $orange-color;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
